defmodule Atlas.DatabaseConfig do
  alias Atlas.Database.PostgresAdapter

  def config(:dev) do
    [
      adapter: PostgresAdapter,
      database: "",
      username: "",
      password: "",
      host: "localhost",
      pool: 5,
      log_level: :debug
    ]
  end

  def config(:test) do
    [
      adapter: PostgresAdapter,
      database: "",
      username: "",
      password: "",
      host: "localhost",
      pool: 5,
      log_level: :debug
    ]
  end

  def config(:prod) do
    [
      adapter: PostgresAdapter,
      database: "",
      username: "",
      password: "",
      host: "",
      pool: 5,
      log_level: :warn
    ]
  end
end